<?xml version="1.0" encoding="UTF-8" ?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <activeProfiles>
        <activeProfile>repo-github</activeProfile>
    </activeProfiles>

    <profiles>
        <profile>
            <id>repo-github</id>
            <repositories>
                <repository>
                    <id>github</id>
                    <name>GitHub</name>
                    <url>https://maven.pkg.github.com/Coder4711/spring_github_actions</url>
                </repository>
            </repositories>
        </profile>
    </profiles>

    <servers>
        <server>
            <id>github</id>
            <username>${MVN_RELEASE_USERNAME}</username>
            <password>${MVN_RELEASE_TOKEN}</password>
        </server>
    </servers>
</settings>
