<?xml version="1.0" encoding="UTF-8" ?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <activeProfiles>
        <activeProfile>repo-github</activeProfile>
    </activeProfiles>

    <profiles>
        <profile>
            <id>repo-github</id>
            <repositories>
                <repository>
                    <id>github</id>
                    <name>GitHub</name>
                    <url>https://maven.pkg.github.com/Coder4711/spring_github_actions</url>
                </repository>
            </repositories>
            <distributionManagement>
                <repository>
                    <id>github</id>
                    <name>GitHub Minova Apache Maven Packages</name>
                    <url>https://maven.pkg.github.com/Coder4711/spring_github_actions</url>
                </repository>
            </distributionManagement>
            <build>
                <plugins>
                    <plugin>
                        <groupId>org.apache.maven.plugins</groupId>
                        <artifactId>maven-release-plugin</artifactId>
                        <configuration>
                            <!-- Der Release wird auf Servern gebaut, wo es keinen interaktiven
                                Modus gibt. Dass heisst, dass die nächste Version bereits im Projekt stehen
                                muss. -->
                            <tagNameFormat>v@{project.version}</tagNameFormat>
                        </configuration>
                    </plugin>
                </plugins>
            </build>
        </profile>              
    </profiles>

    <servers>
        <server>
            <id>github</id>
            <username>${MVN_RELEASE_USERNAME}</username>
            <password>${MVN_RELEASE_TOKEN}</password>
        </server>
    </servers>
</settings>
