name: "Build - Test - Docker"

on:
  workflow_dispatch:
    inputs:
      releaseVersion:
        description: 'Release Version'
        required: true
        default: '1.0.0'
      nextDevelopmentVersion:
        description: 'Next Development Version ("-SNAPSHOT" muss nicht angegeben werden.)'
        required: true
        default: '1.0.1'

jobs:
  build:
    name: Build with Maven
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'temurin'
          #cache: maven
          server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
          settings-path: ${{ github.workspace }} # location for the settings.xml file
      - name: Cache local Maven repository
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      
      - name: Maven config
        run: |
          git config --global user.email "action@hohm.local"
          git config --global user.name "action"

      - name: Build with Maven
        run: mvn -B package --file pom.xml

  analyze:
    name: Analyze Sourcecode
    runs-on: ubuntu-latest
    needs: [build]
    permissions:
      actions: read
      contents: read
      security-events: write

    strategy:
      fail-fast: false
      matrix:
        language: [ 'java' ]
        # CodeQL supports [ 'cpp', 'csharp', 'go', 'java', 'javascript', 'python', 'ruby' ]
        # Learn more about CodeQL language support at https://git.io/codeql-language-support

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    # Initializes the CodeQL tools for scanning.
    - name: Initialize CodeQL
      uses: github/codeql-action/init@v1
      with:
        languages: ${{ matrix.language }}
        # If you wish to specify custom queries, you can do so here or in a config file.
        # By default, queries listed here will override any specified in a config file.
        # Prefix the list here with "+" to use these queries and those in the config file.
        # queries: ./path/to/local/query, your-org/your-repo/queries@main

    # Autobuild attempts to build any compiled languages  (C/C++, C#, or Java).
    # If this step fails, then you should remove it and run the build manually (see below)
    #- name: Autobuild
    #  uses: github/codeql-action/autobuild@v1

    #- name: Perform CodeQL Analysis
    #  uses: github/codeql-action/analyze@v1

  test:
    name: Test Sourcecode
    # run only when code is compiling and tests are passing
    runs-on: ubuntu-latest
    needs: [analyze]

    # steps to perform in job
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

  build_docker:
    name: Build Docker Image
    # run only when code is compiling and tests are passing
    runs-on: ubuntu-latest
    needs: ['analyze','test']

    # steps to perform in job
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

